# Python cache
__pycache__/

# IDE settings
.vscode/

# Image files
*.png
*.jpg
*.jpeg
*.avi
*.mp4

# Environment files
.env

# Directories
/tool/
exe
build
dist
create

*.spec

_credentials.json
*.bat
chromedriver.exe