# Python cache
__pycache__/

# IDE settings
.vscode/

# Image files
*.png
*.jpg
*.jpeg
*.avi
*.mp4

# Environment files
.env
*.log

# Coverage report
.coverage
htmlcov/

# Directories
Alignment
tool
build
dist
create

*.spec