# Python cache
__pycache__/

# IDE settings
.vscode/

# Image files
*.png
*.jpg
*.jpeg
*.avi
*.mp4

# Environment files
.env
*.log

# Directories
Alignment
tool
build
dist
create

*.spec

credentials.json
_credentials.json
*.bat
chromedriver.exe